astroid==4.3.3
colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
dill==0.4.1
fonttools==4.66.1
iniconfig==2.3.0
isort==9.0.2
kiwisolver==1.5.1
matplotlib==3.11.2
mccabe==0.7.0
mypy_extensions==1.1.0
numpy==2.5.3
packaging==26.3
pillow==12.3.0
platformdirs==4.12.2
pluggy==1.6.0
Pygments==2.21.0
pylint==4.1.1
pyparsing==3.3.3
pytest==9.1.1
python-dateutil==2.9.0.post0
six==1.17.0
tomlkit==0.15.1
